pipeline/Brazillion E-commerce Incremental.json
{
	"name": "Brazillion E-commerce Incremental",
	"properties": {
		"activities": [
			{
				"name": "ForEach source",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@json('[\"customer_files\", \"geolocation_files\", \"order_items_files\", \"order_payments_files\", \"orders_files\", \"products_files\", \"sellers_files\", \"product_category_name_translation_files\"]')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "source_files",
									"type": "DatasetReference",
									"parameters": {
										"source_folder_name": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"childItems",
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If files exist",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@and(activity('Get Metadata').output.exists, greater(length(activity('Get Metadata').output.childItems), 0))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy source files",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "FileServerReadSettings",
													"recursive": true,
													"wildcardFileName": "*.csv",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "source_files",
												"type": "DatasetReference",
												"parameters": {
													"source_folder_name": {
														"value": "@item()",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "sourceFilesParquet",
												"type": "DatasetReference",
												"parameters": {
													"folder_name": {
														"value": "@item()",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"curr_date": {
				"type": "String"
			}
		},
		"annotations": []
	}
}