pipeline/Spotify_Incremental.json
{
	"name": "Spotify_Incremental",
	"properties": {
		"activities": [
			{
				"name": "Copy data from sql database",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup cdc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM @{pipeline().parameters.schema}.@{pipeline().parameters.table} where @{pipeline().parameters.cdc_field} > 'activity('Lookup cdc').output.firstRow.cdc'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSql",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "parquet_incremental",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": {
								"value": "@pipeline().parameters.table",
								"type": "Expression"
							},
							"file": {
								"value": "@concat(pipeline().parameters.table, '_', utcNow())",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Lookup cdc",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json_Dynamic",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": "cdc",
							"file": {
								"value": "@concat(pipeline().parameters.table, '.', 'json')",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "String",
				"defaultValue": "dbo"
			},
			"table": {
				"type": "String"
			},
			"cdc_field": {
				"type": "String"
			}
		},
		"annotations": []
	}
}